@*@(await Html.RenderComponentAsync<FI.Core.BlazorComponents.AutoSuggest.SearchFIProduct>(RenderMode.ServerPrerendered))*@

@*@(await Html.RenderComponentAsync<FI.Core.BlazorComponents.AutoSuggest.SearchFIListItem>(RenderMode.ServerPrerendered))*@
<h3>Generate Test Tenant</h3>
@Html.ActionLink("Generate a Test Tenant", "DeployTestTenant", "Admin")
<br />

<br />
<h3>Generate 10 Tenant</h3>
@Html.ActionLink("Generate 10 Tenants", "Deploy10", "Admin")
<br />

<h3>Generate 100 Tenants</h3>
@Html.ActionLink("Generate 100 Tenants", "Deploy100", "Admin")
<br />

<br />
<h3>Generate 500 Tenants</h3>
@Html.ActionLink("Generate 500 Tenants", "Deploy500", "Admin")
<br />

<br />
<h3>Generate 1000 Tenants</h3>
@Html.ActionLink("Generate 1000 Tenants", "Deploy1000", "Admin")
<br />

<br />
<h3>Generate 2000 Tenants</h3>
@Html.ActionLink("Generate 2000 Tenants", "Deploy2000", "Admin")
<br />

<br />
<h3>Generate 5000 Tenants</h3>
@Html.ActionLink("Generate 5000 Tenants", "Deploy5000", "Admin")
<br />

<br />
<h3>Generate 10000 Tenants</h3>
@Html.ActionLink("Generate 10000 Tenants", "Deploy10000", "Admin")
<br />


<br />
Click @Html.ActionLink("here", "generateTenantList", "Admin") to download tenants list
<br />
